/* this is the styling for the lines which  */
.line {
   box-shadow: 0 3px 0 -1px #555;
   display: inline-block;
   margin: 1px;
   height: 20px;
   text-transform: uppercase;
   width: 20px;
}

.ls {
   box-shadow: 0 0 0 0 #555;
   width: 10px;
}