body {
    background-color: #eee;
    margin: 0;
}
#home{
    background: linear-gradient(#eee, #aaa);
    background: -webkit-linear-gradient(top, #eee, #aaa) ;
    background: -ms-linear-gradient(top, #eee #aaa);
    background: -moz-linear-gradient(top, #eee #aaa);
    background: -o-linear-gradient(top, #eee #aaa);
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 99;
}